USER=odoouser
PASSWORD=WFigsKfB7QkjlFSX8EcWijn0pmtxKqSX # change me
POSTGRES_DB=postgres
restart=always
pull_policy=always
TIMEZONE="America/Caracas"
INITIAL_ADMIN_EMAIL=me@example.com # change me
INITIAL_ADMIN_PASSWORD=m5GuXjEHfs209g0KDoaG4Z58sgo23K38 # change me
